
<p class="label mb-0">Rótulo</p>
<p class="help-text">Informações adicionais</p>
<div class="br-checkbox">
  <input id="checkbox-1" type="checkbox"/>
  <label for="checkbox-1">Opção 1</label>
</div>
<div class="br-checkbox">
  <input id="checkbox-2" type="checkbox" checked="checked"/>
  <label for="checkbox-2">Opção 2</label>
</div>
<div class="br-checkbox">
  <input id="checkbox-3" type="checkbox"/>
  <label for="checkbox-3">Opção 3</label>
</div>
<div class="mt-1"><span class="feedback warning" role="alert"><i class="fas fa-exclamation-triangle" aria-hidden="true"></i>Texto de mensagem</span>
</div>