<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Checkbox</title>
    <!-- Fonte Rawline-->
    <link rel="stylesheet" href="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/fonts/rawline/css/rawline.css"/>
    <!-- Fonte Raleway-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&amp;display=swap"/>
    <!-- Design System de Governo-->
    <link rel="stylesheet" href="../../dsgov.css"/>
    <!-- Fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"/>
  </head>
  <body>
    <div class="container-fluid">
      <p class="h5">Checkbox padrão</p>
      <p class="label mb-0">Rótulo</p>
      <p class="help-text">Informações adicionais</p>
      <div class="br-checkbox">
        <input id="checkbox-1" type="checkbox"/>
        <label for="checkbox-1">Opção 1</label>
      </div>
      <div class="br-checkbox">
        <input id="checkbox-2" type="checkbox" checked="checked"/>
        <label for="checkbox-2">Opção 2</label>
      </div>
      <div class="br-checkbox">
        <input id="checkbox-3" type="checkbox"/>
        <label for="checkbox-3">Opção 3</label>
      </div>
      <div class="mt-1"><span class="feedback warning" role="alert"><i class="fas fa-exclamation-triangle" aria-hidden="true"></i>Texto de mensagem</span>
      </div>
      <p class="h5 mt-5">Listagem horizontal</p>
      <div class="d-inline-block mr-5">
        <div class="br-checkbox">
          <input id="h-checkbox-1" type="checkbox"/>
          <label for="h-checkbox-1">Opção 1</label>
        </div>
      </div>
      <div class="d-inline-block mr-5">
        <div class="br-checkbox">
          <input id="h-checkbox-2" type="checkbox"/>
          <label for="h-checkbox-2">Opção 2</label>
        </div>
      </div>
      <div class="d-inline-block mr-5">
        <div class="br-checkbox">
          <input id="h-checkbox-3" type="checkbox"/>
          <label for="h-checkbox-3">Opção 3</label>
        </div>
      </div>
      <p class="h5 mt-5">Estados</p>
      <div class="br-checkbox">
        <input id="check-state-checked" type="checkbox" checked="checked"/>
        <label for="check-state-checked">Checado</label>
      </div>
      <div class="br-checkbox disabled">
        <input id="check-state-disabled" type="checkbox" disabled="disabled"/>
        <label for="check-state-disabled">Desativado</label>
      </div>
      <div class="br-checkbox invalid">
        <input id="check-state-invalid" type="checkbox"/>
        <label for="check-state-invalid">Inválido</label>
      </div>
      <div class="br-checkbox valid">
        <input id="check-state-valid" type="checkbox"/>
        <label for="check-state-valid">Válido</label>
      </div>
      <p class="h5 mt-5">Checkbox sem Label</p>
      <div class="br-checkbox hidden-label">
        <input id="check-all" type="checkbox"/>
        <label for="check-all">Opção 5</label>
      </div>
    </div>
    <script src="../../dsgov.js"></script>
  </body>
</html>