
<nav class="br-pagination" aria-label="Paginação de resultados" data-total="50" data-current="1" data-per-page="20">
  <div class="pagination-per-page">
    <div class="br-select">
      <div class="br-input">
        <label for="per-page-selection-random-84428">Exibir</label>
        <input id="per-page-selection-random-84428" type="text"/>
        <button class="br-button circle small" type="button" aria-label="Exibir lista" tabindex="-1" data-trigger="data-trigger"><i class="fas fa-angle-down"></i>
        </button>
      </div>
      <div class="br-list" tabindex="0">
        <div class="br-item" tabindex="-1">
          <div class="br-radio">
            <input id="per-page-10-random-84428" type="radio" name="per-page-random-84428" value="per-page-10-random-84428" checked="checked"/>
            <label for="per-page-10-random-84428">10</label>
          </div>
        </div>
        <div class="br-item" tabindex="-1">
          <div class="br-radio">
            <input id="per-page-20-random-84428" type="radio" name="per-page-random-84428" value="per-page-20-random-84428"/>
            <label for="per-page-20-random-84428">20</label>
          </div>
        </div>
        <div class="br-item" tabindex="-1">
          <div class="br-radio">
            <input id="per-page-30-random-84428" type="radio" name="per-page-random-84428" value="per-page-30-random-84428"/>
            <label for="per-page-30-random-84428">30</label>
          </div>
        </div>
      </div>
    </div>
  </div><span class="br-divider d-none d-sm-block mx-3"></span>
  <div class="pagination-information d-none d-sm-flex"><span class="current">1</span>&ndash;<span class="per-page">20</span>&nbsp;de&nbsp;<span class="total">50</span>&nbsp;itens</div>
  <div class="pagination-go-to-page d-none d-sm-flex ml-auto">
    <div class="br-select">
      <div class="br-input">
        <label for="go-to-selection-random-37996">Página</label>
        <input id="go-to-selection-random-37996" type="text"/>
        <button class="br-button circle small" type="button" aria-label="Exibir lista" tabindex="-1" data-trigger="data-trigger"><i class="fas fa-angle-down"></i>
        </button>
      </div>
      <div class="br-list" tabindex="0">
        <div class="br-item" tabindex="-1">
          <div class="br-radio">
            <input id="go-to-1-random-37996" type="radio" name="go-to-random-37996" value="go-to-1-random-37996" checked="checked"/>
            <label for="go-to-1-random-37996">1</label>
          </div>
        </div>
        <div class="br-item" tabindex="-1">
          <div class="br-radio">
            <input id="go-to-2-random-37996" type="radio" name="go-to-random-37996" value="go-to-2-random-37996"/>
            <label for="go-to-2-random-37996">2</label>
          </div>
        </div>
        <div class="br-item" tabindex="-1">
          <div class="br-radio">
            <input id="go-to-3-random-37996" type="radio" name="go-to-random-37996" value="go-to-3-random-37996"/>
            <label for="go-to-3-random-37996">3</label>
          </div>
        </div>
      </div>
    </div>
  </div><span class="br-divider d-none d-sm-block mx-3"></span>
  <div class="pagination-arrows ml-auto ml-sm-0">
    <button class="br-button circle" type="button" aria-label="Voltar página"><i class="fas fa-angle-left" aria-hidden="true"></i>
    </button>
    <button class="br-button circle" type="button" aria-label="Avançar página"><i class="fas fa-angle-right" aria-hidden="true"></i>
    </button>
  </div>
</nav>
<hr/>
<nav class="br-pagination" aria-label="Paginação de resultados" data-total="50" data-current="1" data-per-page="10">
  <div class="pagination-arrows">
    <button class="br-button circle" type="button" aria-label="Voltar página"><i class="fas fa-angle-left" aria-hidden="true"></i>
    </button>
    <button class="br-button circle" type="button" aria-label="Avançar página"><i class="fas fa-angle-right" aria-hidden="true"></i>
    </button>
  </div><span class="br-divider d-none d-sm-block mx-3"></span>
  <div class="pagination-go-to-page d-none d-sm-flex">
    <div class="br-select">
      <div class="br-input">
        <label for="go-to-selection-random-3774">Página</label>
        <input id="go-to-selection-random-3774" type="text"/>
        <button class="br-button circle small" type="button" aria-label="Exibir lista" tabindex="-1" data-trigger="data-trigger"><i class="fas fa-angle-down"></i>
        </button>
      </div>
      <div class="br-list" tabindex="0">
        <div class="br-item" tabindex="-1">
          <div class="br-radio">
            <input id="go-to-1-random-3774" type="radio" name="go-to-random-3774" value="go-to-1-random-3774" checked="checked"/>
            <label for="go-to-1-random-3774">1</label>
          </div>
        </div>
        <div class="br-item" tabindex="-1">
          <div class="br-radio">
            <input id="go-to-2-random-3774" type="radio" name="go-to-random-3774" value="go-to-2-random-3774"/>
            <label for="go-to-2-random-3774">2</label>
          </div>
        </div>
        <div class="br-item" tabindex="-1">
          <div class="br-radio">
            <input id="go-to-3-random-3774" type="radio" name="go-to-random-3774" value="go-to-3-random-3774"/>
            <label for="go-to-3-random-3774">3</label>
          </div>
        </div>
        <div class="br-item" tabindex="-1">
          <div class="br-radio">
            <input id="go-to-4-random-3774" type="radio" name="go-to-random-3774" value="go-to-4-random-3774"/>
            <label for="go-to-4-random-3774">4</label>
          </div>
        </div>
        <div class="br-item" tabindex="-1">
          <div class="br-radio">
            <input id="go-to-5-random-3774" type="radio" name="go-to-random-3774" value="go-to-5-random-3774"/>
            <label for="go-to-5-random-3774">5</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pagination-per-page ml-auto">
    <div class="br-select">
      <div class="br-input">
        <label for="per-page-selection-random-18581">Exibir</label>
        <input id="per-page-selection-random-18581" type="text"/>
        <button class="br-button circle small" type="button" aria-label="Exibir lista" tabindex="-1" data-trigger="data-trigger"><i class="fas fa-angle-down"></i>
        </button>
      </div>
      <div class="br-list" tabindex="0">
        <div class="br-item" tabindex="-1">
          <div class="br-radio">
            <input id="per-page-10-random-18581" type="radio" name="per-page-random-18581" value="per-page-10-random-18581" checked="checked"/>
            <label for="per-page-10-random-18581">10</label>
          </div>
        </div>
        <div class="br-item" tabindex="-1">
          <div class="br-radio">
            <input id="per-page-20-random-18581" type="radio" name="per-page-random-18581" value="per-page-20-random-18581"/>
            <label for="per-page-20-random-18581">20</label>
          </div>
        </div>
        <div class="br-item" tabindex="-1">
          <div class="br-radio">
            <input id="per-page-30-random-18581" type="radio" name="per-page-random-18581" value="per-page-30-random-18581"/>
            <label for="per-page-30-random-18581">30</label>
          </div>
        </div>
      </div>
    </div>
  </div><span class="br-divider d-none d-sm-block mx-3"></span>
  <div class="pagination-information d-none d-sm-flex"><span class="current">1</span>&ndash;<span class="per-page">10</span>&nbsp;de&nbsp;<span class="total">50</span>&nbsp;itens</div>
</nav>
<hr/>
<nav class="br-pagination" aria-label="Paginação de resultados" data-total="50" data-current="1" data-per-page="10">
  <div class="pagination-per-page">
    <div class="br-select">
      <div class="br-input">
        <label for="per-page-selection-random-40568">Exibir</label>
        <input id="per-page-selection-random-40568" type="text"/>
        <button class="br-button circle small" type="button" aria-label="Exibir lista" tabindex="-1" data-trigger="data-trigger"><i class="fas fa-angle-down"></i>
        </button>
      </div>
      <div class="br-list" tabindex="0">
        <div class="br-item" tabindex="-1">
          <div class="br-radio">
            <input id="per-page-10-random-40568" type="radio" name="per-page-random-40568" value="per-page-10-random-40568" checked="checked"/>
            <label for="per-page-10-random-40568">10</label>
          </div>
        </div>
        <div class="br-item" tabindex="-1">
          <div class="br-radio">
            <input id="per-page-20-random-40568" type="radio" name="per-page-random-40568" value="per-page-20-random-40568"/>
            <label for="per-page-20-random-40568">20</label>
          </div>
        </div>
        <div class="br-item" tabindex="-1">
          <div class="br-radio">
            <input id="per-page-30-random-40568" type="radio" name="per-page-random-40568" value="per-page-30-random-40568"/>
            <label for="per-page-30-random-40568">30</label>
          </div>
        </div>
      </div>
    </div>
  </div><span class="br-divider d-none d-sm-block mx-3"></span>
  <div class="pagination-information d-none d-sm-flex"><span class="current">1</span>&ndash;<span class="per-page">10</span>&nbsp;de&nbsp;<span class="total">50</span>&nbsp;itens</div><span class="br-divider d-none d-sm-block mx-3"></span>
  <div class="pagination-go-to-page d-none d-sm-flex">
    <div class="br-select">
      <div class="br-input">
        <label for="go-to-selection-random-38107">Página</label>
        <input id="go-to-selection-random-38107" type="text"/>
        <button class="br-button circle small" type="button" aria-label="Exibir lista" tabindex="-1" data-trigger="data-trigger"><i class="fas fa-angle-down"></i>
        </button>
      </div>
      <div class="br-list" tabindex="0">
        <div class="br-item" tabindex="-1">
          <div class="br-radio">
            <input id="go-to-1-random-38107" type="radio" name="go-to-random-38107" value="go-to-1-random-38107" checked="checked"/>
            <label for="go-to-1-random-38107">1</label>
          </div>
        </div>
        <div class="br-item" tabindex="-1">
          <div class="br-radio">
            <input id="go-to-2-random-38107" type="radio" name="go-to-random-38107" value="go-to-2-random-38107"/>
            <label for="go-to-2-random-38107">2</label>
          </div>
        </div>
        <div class="br-item" tabindex="-1">
          <div class="br-radio">
            <input id="go-to-3-random-38107" type="radio" name="go-to-random-38107" value="go-to-3-random-38107"/>
            <label for="go-to-3-random-38107">3</label>
          </div>
        </div>
        <div class="br-item" tabindex="-1">
          <div class="br-radio">
            <input id="go-to-4-random-38107" type="radio" name="go-to-random-38107" value="go-to-4-random-38107"/>
            <label for="go-to-4-random-38107">4</label>
          </div>
        </div>
        <div class="br-item" tabindex="-1">
          <div class="br-radio">
            <input id="go-to-5-random-38107" type="radio" name="go-to-random-38107" value="go-to-5-random-38107"/>
            <label for="go-to-5-random-38107">5</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pagination-arrows ml-auto">
    <button class="br-button circle" type="button" aria-label="Voltar página"><i class="fas fa-angle-left" aria-hidden="true"></i>
    </button>
    <button class="br-button circle" type="button" aria-label="Avançar página"><i class="fas fa-angle-right" aria-hidden="true"></i>
    </button>
  </div>
</nav>